<div class="container">
  <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#"> <i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <i class="fas fa-user-plus"></i> Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/users" > <i class="fas fa-users"></i> Usuários</a>
      </li>
    </ul>
    <hr />
  <router-outlet></router-outlet>
</div>


