<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Painel de Controle</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/offcanvas.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style> 
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mr-auto mr-lg-4 logo text-info" href="/">Go WebApp</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">
          <i class="fab fa-dashcube"></i> Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-user-edit"></i> Minha conta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-lock"></i> Segurança</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a href="/logout" class="btn btn-sm btn-outline-warning">Sair <i class="fas fa-sign-out-alt"></i></a>
    </div>
  </div>
</nav>

<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link active" href="/admin">
      <i class="fab fa-dashcube"></i> Dashboard</a>
    <a class="nav-link" href="#">
      Usuários
      <span class="badge badge-pill bg-light align-text-bottom">27</span>
    </a>
  </nav>
</div>

<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
      <small>Since 2019</small>
    </div>
  </div>
  {{ if (ne .Alert.Message "") }}
    <p class="alert alert-{{ .Alert.Type }}"> {{ .Alert.Message }} </p>
  {{ end }}
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <p class="text-right"><a href="/products" class="btn btn-primary"> Voltar </a></p>
    <h6 class="border-bottom border-gray pb-2 mb-0"> 
        <code>Deseja modificar os dados do produto? </code>
    </h6>
    <br class="my-4">
    <form action="/product-edit" method="post">
        <input type="hidden" name="id" value="{{ .Product.Id }}" />
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Nome do produto</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Informe o nome do produto"
                    value="{{ .Product.Name }}" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="price">Valor unitário</label>
                    <input type="text" name="price" id="price" class="form-control" placeholder="Informe o preço unitário do produto" 
                    value="{{ .PriceFormat }}" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="quantity">Quantidade</label>
                    <input type="text" name="quantity" id="quantity" class="form-control" placeholder="Informe a quantidade disponpível"
                    value="{{ .Product.Quantity }}" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="category">Categoria</label>
                    <select name="category" id="category" class="form-control">
                        {{ range .Categories }}
                            {{ if (eq .Id $.Product.Category.Id) }}
                                <option value="{{ .Id }}" selected> {{ .Description }} </option>
                            {{ else }}
                                <option value="{{ .Id }}"> {{ .Description }} </option>
                            {{ end }}
                        {{ end }}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>
    </form>
  </div>

</main>
    
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/offcanvas.js"></script>
</body>
</html>
